{{template "header" .}}
{{template "nav" .}}

<h2>Help</h2>

<h3>Twitch Chat Basic Commands</h3>

<h4>TLDR</h4>
<div>
When you chat you get street cred,
the only thing you can do with street cred, is giving to other chatters,
with !props @viewer AMOUNT_OF_STREET_CRED

...when you give some street cred, its transform into cool points,
which can be spent on sounds, use !buy, !buy damn

....You could build a chat system, where you are getting the street cred,
but if the rest of the chat hates you...then you ain't getting sounds.
And you can try and bribe people....but theres no obligation,
to props for props.
</div>

<div>
  <p>
    Request to build your website to see your stats (reload if it isn't working,
    we've hired some new interns who are slower)
  </p>
  <br />
  <code>
    !me
  </code>
</div>

<hr />

<div>
  <p>
    You earn street cred (every 5 minutes) for chatting, the only thing you can
    do with the street cred is give it to someone else in the chat with !props
  </p>
  <br />
  <code>
    !props @username
    <br />
    !props 10
  </code>
</div>

<hr />

<div>
  <p>
    Once a user gives You props, the street Cred is converted to Cool Points
    which you can spend with buy.
  </p>
  <br />
  <code>
    !buy
    <br />
    !buy command_name
    <br />
    !buy 10
  </code>
</div>

<hr />

<div>
  <p>
  You can love 1 more person that loves you.
  If 0 people love you, you can love 1 person.
  If 1 person loves you, you can love 2 people.

  The more people that love you, the more Mana and Street Credw
  you can dropped every 5 minutes.

  You !love to add loves, !hate to remove them.
  </p>
  <br />
  <code>
    !love @user
    <br />
    !hate @user
  </code>
</div>

<h3>Adding Sounds / Images / Gifs / Videos </h3>

<div>

  <p>
  If you are a Streamlord or get approval from a stream lord, you can add images, gifs and videos to the stream! Then these sources can manipulated with various effects in the chat.
  </p>
  <br />

  <code>
  !image URL NAME
  <br />

  !gif URL NAME
  <br />

  !video URL NAME
  </code>
  <br />

  <hr />

  <h4>Ways to manipulate the sources:</h4>

  <p> We need to be able to see Begin code sometime!  </p>
  <code>
  !hide NAME
  </code>
  <br />

  <p> Show the source </p>
  <code>
  !show NAME
  </code>
  <br />

  <p>1 is fullsize 0.5 would be Half</p>
  <code>
  !scale NAME 0.5
  </code>
  <br />

  <p>This is an absolute x and y on the OBS Scene</p>
  <code>
  !move NAME X Y
  <br />
  !move NAME 0 0 // This is the top left corner
  <br />
  !move NAME 300 300
  </code>

  <p>This is absolute rotation 0 is return to no rotation</p>
  <br />
  <code>
  !rotate NAME 90
  </code>
  <br />

  <p>This triggers a random effect on the source</p>
  <code>
  !random NAME
  </code>
  <br />

  <p>These are specific effects on the created source</p>
  <code>
  !slide NAME
  <br />
  !bigbrain NAME
  <br />
  !chad NAME
  </code>

</div>
