{{template "header"}}
{{template "nav"}}

<h2>Media Requests</h2>

<ul>

{{ range .Unapproved }}
<li>
  {{.ID}} | {{.Name}}
  <img width="250" height="250"
  src="https://us-east-1.linodeobjects.com/beginworld/memes/memes/{{.Filename}}"
  alt="{{.Name}}">
</li>
<br />
{{ end }}

</ul>
