{{template "header" .}}
{{template "nav" .}}

<h2>MEMES</h2>

<section class="flex-container">

{{ range .Videos }}	
<figure>
	<img
    src="https://us-east-1.linodeobjects.com/beginworld/memes/ViewerVideos/{{.Name}}.gif"
    alt="{{.Name}}"
    style="max-height: 25px; max-width: 250px;">
	<figcaption>{{.Name}}</figcaption>
</figure>
{{ end }}

</section>
